<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>795617819331-lbi37ppso3v4opq7704ddle7aov137or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795617819331-lbi37ppso3v4opq7704ddle7aov137or</string>
	<key>API_KEY</key>
	<string>AIzaSyB_pKRId0jKPr4Og_J9vr0TxCpRkHz0aXk</string>
	<key>GCM_SENDER_ID</key>
	<string>795617819331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JustinCarver.TonyburgersApp</string>
	<key>PROJECT_ID</key>
	<string>tonyburgersapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tonyburgersapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795617819331:ios:870c8be2faeb4af0</string>
	<key>DATABASE_URL</key>
	<string>https://tonyburgersapp.firebaseio.com</string>
</dict>
</plist>